
.full-section {
  min-height: 100% !important;
  width: 100%;
  background: radial-gradient(ellipse farthest-corner at center top, @color3 0%, @color4 100%);

  .column {
    position: relative;
    display: inline-block;
    height: 100%;

    &.fade {
      position: relative;
      float: right;
      top:0;
      right:0;
      height: 100%;
    }

    &.paer {
      width: 30%;
      height: 500px;
      position: relative;
      float: left;
      overflow: hidden;
      background-image: url("../images/paer.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
      box-shadow: 0 0 80px @color5;

      transition: 0.5s all ease-in-out;
      opacity: 0.7;
      filter: saturate(0.25);

      &:hover {
        filter: saturate(1);
        opacity: 0.9;
        box-shadow: 0 0 40px @color5;
      }
    }
  }
}
