.fade {
  background: radial-gradient(ellipse farthest-corner at center top, @color3 0%, @color4 100%);
}

.no-min-height {
  min-height: 0 !important;
}

.full-section {
  min-height: 100%;
  width: 100%;
  display: flex;

  &.half-sized {
    min-height: 200px !important;
  }

  .column {
    position: relative;
    display: inline-block;
    height: 100vh;

    &.fade {
      position: relative;
      float: right;
      top: 0;
      right: 0;
      height: 100%;
    }

    &.paer {
      width: 30%;
      height: inherit;
      position: relative;
      float: left;
      overflow: hidden;
      background-image: url("../images/paer.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;

      transition: 0.5s all ease-in-out;
      opacity: 0.7;
      filter: saturate(0.15);

      &:hover {
        filter: saturate(1);
        opacity: 0.9;
        box-shadow: 0 0 40px @color5;
      }
    }
  }
}

.outdoors {
  height: 100%;
  background: url("../images/outdoors.jpg") no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: -15px;

  transition: 0.5s all ease-in-out;
  filter: grayscale(1);

  &:hover {
    background-position-y: -5px;
    filter: grayscale(0.7);
  }
}
