@color1: #DDFFF7;
@color2: #93E1D8;
@color3: #FFA69E;
@color4: #AA4465;
@color5: #462255;


.full-section {
  height: 100vh;
  background: @color1;

  .image {
    height: 100%;
  }

  .column {
    overflow: hidden;
    display: inline-block;
    height: 100%;

    &.fade {
      background: linear-gradient(135deg, @color1, @color2);
    }

    &.paer {
      background-image: url("../images/paer.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
    }
  }
}
