@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.vert-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vert-aligner-item {
  max-width: 50%;
}
.vert-aligner-item--top {
  align-self: flex-start;
}
.vert-aligner-item--bottom {
  align-self: flex-end;
}
body,
html {
  height: 100%;
  width: 100%;
  background: #383E4B;
}
section {
  min-height: 100%;
  width: 100%;
}
.content {
  position: relative;
  /* needed for footer positioning*/
  margin: 0 auto;
  /* center, not in IE5 */
  min-height: 100%;
  /* real browsers */
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
.desc-wrapper {
  padding: 20px 0;
}
.desc-wrapper a {
  background: #FCFFE3;
  padding: 1px 3px;
  color: #383E4B;
  text-decoration: none;
}
.desc-wrapper a:hover {
  color: #FCFFE3;
  background: #383E4B;
}
.desc-text {
  color: #383E4B;
  padding: 15px 0px;
  width: 100%;
  height: 100%;
}
.desc-text h2,
.desc-text h1 {
  margin-bottom: 12px;
  color: #FCFFE3;
}
.desc-text h2 span,
.desc-text h1 span {
  border: 4px solid #383E4B;
  border-left: 0;
  border-right: 0;
  background: transparent;
}
.desc-text span,
.desc-text sub {
  background: rgba(252, 255, 227, 0.2);
  line-height: 20pt;
  padding: 2px;
}
.desc-text .desc-item {
  width: 100%;
  margin-top: 55px;
  padding: inherit;
  border-radius: 5px;
}
.desc-text .desc-item:hover {
  background: rgba(70, 34, 85, 0.3);
  transition: all 0.4s ease;
}
.desc-text .desc-item:hover a.span,
.desc-text .desc-item:hover p,
.desc-text .desc-item:hover h2,
.desc-text .desc-item:hover h1 {
  color: #FCFFE3;
}
.desc-text .desc-item:hover a.span span,
.desc-text .desc-item:hover p span,
.desc-text .desc-item:hover h2 span,
.desc-text .desc-item:hover h1 span {
  border-color: #FCFFE3;
}
.desc-text .desc-item:hover span {
  background: transparent;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: -0.3em;
}
.center {
  text-align: center;
}
.Navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #f2606f;
  z-index: 10;
}
.ContactView {
  background: #1EAEDB;
}
.ProjectView {
  padding-top: 6px;
  background: #FCFFE3;
}
.visibleOnHoverOnly {
  opacity: 0;
}
.visibleOnHoverOnly:hover {
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.tagList {
  display: inline-block;
  background: rgba(255, 200, 15, 0.5);
  padding: 0 2px;
  margin: 1px 2px;
  border-radius: 3px;
  transition: background 0.35s;
}
.tagList:hover {
  cursor: pointer;
  background: #3eacff;
}
.tagList.active {
  background: #ffdc04;
}
.tagList.active:hover {
  background: rgba(255, 200, 15, 0.85);
}
.work-view {
  background: #383E4B;
  padding: 5px 0;
  overflow: hidden;
  position: relative;
  z-index: 100;
  min-height: 130pt !important;
}
.work-view .project-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  color: #fff;
  padding: 15pt 5pt;
  text-align: center;
  background: #333;
  min-height: 45pt;
}
.work-view .project-header .header {
  margin: 0 20px;
  color: #FFEBCD;
  text-shadow: rgba(238, 232, 16, 0.8) -1px 1px 1px, rgba(237, 28, 120, 0.8) 1px 1px 1px;
}
.work-view .project-header .tags {
  width: 50%;
  text-align: left;
  color: #363636;
}
.work-view .project-header .tags li {
  display: inline-block;
  background: rgba(255, 200, 15, 0.5);
  padding: 0 2px;
  margin: 1px 2px;
  border-radius: 3px;
  transition: background 0.35s;
  font-size: 10pt;
}
.work-view .project-header .tags li:hover {
  cursor: pointer;
  background: #3eacff;
}
.work-view .project-header .tags li.active {
  background: #ffdc04;
}
.work-view .project-header .tags li.active:hover {
  background: rgba(255, 200, 15, 0.85);
}
.work-view .bg-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(250, 250, 250, 0)), no-repeat fixed;
  background-size: cover;
}
.work-view .bg-image:after {
  content: "";
  z-index: -1;
}
.work-view .flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.work-view .flex-container a {
  padding: 0 !important;
}
.work-view .flex-container.work {
  width: 100%;
}
.work-view .flex-container a.work-item-container {
  position: relative;
  flex: 1 1 33%;
  min-width: 320px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border: 4px solid #383E4B;
  margin: auto;
  background-size: cover;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 5px #FCFFE3;
}
.work-view .flex-container a.work-item-container .item-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
  background: #2b3dca;
  background-size: cover;
  transition: all 0.5s ease;
  box-shadow: inset 0 0px 4px #383E4B;
}
.work-view .flex-container a.work-item-container .item-image:after {
  z-index: -1;
}
.work-view .flex-container a.work-item-container .item-header {
  position: absolute;
  top: calc(55%);
  width: 100%;
  font-weight: 800;
  transition: all 0.4s ease;
  color: #FCFFE3;
  font-size: 14pt;
  text-shadow: #383E4B -2px 2px, #383E4B 0 0 2px !important;
}
.work-view .flex-container a.work-item-container .item-header span {
  padding: 5px 10px;
  background: #C6E774;
}
.work-view .flex-container a.work-item-container:hover .item-header {
  top: 10pt;
  background: transparent;
}
.work-view .flex-container a.work-item-container:hover .item-image {
  background-blend-mode: normal;
  box-shadow: inset 1px 0 40px #383E4B;
  -webkit-filter: sepia(0.3);
          filter: sepia(0.3);
}
.work-view .flex-container a.work-item-container .item-content {
  position: relative;
  display: flex;
  padding: 10pt;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 266.66666667px;
  transition: visibility 0s, opacity 0.45s ease;
  opacity: 0;
}
.work-view .flex-container a.work-item-container .item-content:hover {
  opacity: 1;
}
.work-view .flex-container a.work-item-container .item-content:hover .item .item-tags-container,
.work-view .flex-container a.work-item-container .item-content:hover .item .item-desc {
  opacity: 1;
  visibility: visible;
}
.work-view .flex-container a.work-item-container .item-content .item {
  font-size: 11pt;
  background: rgba(0, 0, 0, 0.7);
}
.work-view .flex-container a.work-item-container .item-content .item .item-desc {
  padding: 10pt;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container {
  position: absolute;
  width: calc(80%);
  bottom: 10pt;
  transition-delay: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container .item-read-more {
  text-align: center;
  text-decoration: none;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container ul.item-tags {
  text-align: left;
  color: #363636;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container ul.item-tags li {
  display: inline-block;
  background: rgba(255, 200, 15, 0.5);
  padding: 0 2px;
  margin: 1px 2px;
  border-radius: 3px;
  transition: background 0.35s;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container ul.item-tags li:hover {
  cursor: pointer;
  background: #3eacff;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container ul.item-tags li.active {
  background: #ffdc04;
}
.work-view .flex-container a.work-item-container .item-content .item .item-tags-container ul.item-tags li.active:hover {
  background: rgba(255, 200, 15, 0.85);
}
footer {
  position: relative;
  background: #383E4B;
  padding: 50px;
  min-height: 150pt;
}
footer .dwarf {
  z-index: 100;
  position: relative;
  bottom: 118px;
  float: right;
}
footer ul {
  text-align: left;
  list-style: none;
  display: inline-block;
  min-width: 150pt;
  padding: 25pt 15pt;
}
footer ul li:hover i {
  transition: color 0.3s ease;
}
footer ul li:hover i.fa-linkedin-square {
  color: #006DA6;
}
footer ul li:hover i.fa-youtube-play {
  color: #E62117;
}
footer ul li:hover i.fa-github {
  color: #333;
}
footer ul li:hover i.fa-envelope {
  color: #fff;
}
footer ul a,
footer ul li {
  text-decoration: none;
  color: #f2606f;
}
footer ul a i,
footer ul li i {
  color: #8c8b88;
  margin-right: 10px;
}
footer ul a span,
footer ul li span {
  margin-left: 2pt;
}
.full-section {
  min-height: 100% !important;
  width: 100%;
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
}
.full-section .column {
  position: relative;
  display: inline-block;
  height: 100%;
}
.full-section .column.fade {
  position: relative;
  float: right;
  top: 0;
  right: 0;
  height: 100%;
}
.full-section .column.paer {
  width: 30%;
  height: 500px;
  position: relative;
  float: left;
  overflow: hidden;
  background-image: url("../images/paer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  box-shadow: 0 0 80px #383E4B;
  transition: 0.5s all ease-in-out;
  opacity: 0.7;
  -webkit-filter: saturate(0.25);
          filter: saturate(0.25);
}
.full-section .column.paer:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
  opacity: 0.9;
  box-shadow: 0 0 40px #383E4B;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Smaller than desktop */
@media (max-width: 1100px) {
  .column {
    width: 100% !important;
  }
  .column h1 span,
  .column h2 span {
    color: #FCFFE3;
    border-color: #FCFFE3;
    background: #f2606f;
  }
  .column span,
  .column sub {
    color: #FCFFE3;
    background: rgba(56, 62, 75, 0.85);
  }
  .column.paer {
    position: absolute !important;
    padding-top: 0 !important;
    height: 50% !important;
  }
  .column.fade {
    position: relative !important;
    left: 0;
    z-index: 100;
  }
}
/* Larger than Desktop HD */
