@navbar_size: 55px;

//COLOR
@webColor: fade(@color1, 40%);
@gameColor: fade(@color4, 40%);
@musicColor: fade(@color3, 40%);

.getColorWithBgAndText(@color) {
  background: fade(@color, 100%);

  h1, h5 {
    @color1: spin(fade(@color, 90%), -65);
    color: @color_white !important;
    text-shadow: -1px 1px fade(lighten(@color1, 40%), 50%);
  }
}

.web_color {
  .getColorWithBgAndText(@webColor);
}

.game_color {
  .getColorWithBgAndText(@gameColor);
}

.music_color {
  .getColorWithBgAndText(@musicColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.relative {
  position: relative;
}

.vert-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vert-aligner-item {
  max-width: 50%;
}

.vert-aligner-item--top {
  align-self: flex-start;
}

.vert-aligner-item--bottom {
  align-self: flex-end;
}

body, html, .page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#parent-wrapper {
  overflow: hidden;
}

section {
  min-height: 100%;
  width: 100%;
}

@color_white: #FCFFE3;
@color_black: #383E4B;

@color1: #9edcda;
@color2: #f39264;
@color3: #f2606f;
@color4: #15648C;

@import "Text";
@import "ContactView";
@import "ProjectView";
@import "ProjectSearch";
@import "WorkItem";
@import "Footer";
@import "NotesAnimation";
@import "Hexagon";

@import "CenteredText";
@import "FullSection";
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Smaller than desktop */
@media (max-width: 1100px) {
  footer {
    padding: 0;
    &.vert-aligner {
      display: table !important;
    }
  }

  .column {
    width: 100% !important;

    h1, h2 {
      span {
        color: @color1;
        border-color: @color1;
        background: @color3;
      }
    }

    span, sub {
      color: @color1;
      background: rgba(56, 62, 75, 0.85);
    }

    &.paer {
      display: none;
    }

    &.fade {
      position: relative !important;
      left: 0;
      z-index: 100;
    }
  }

  .work-item-container {
    .item-header {
      top: @itemPadding !important;
    }
    .item-image {
      background-blend-mode: normal;
      filter: sepia(0.2) !important;
    }

    .item-content {
      .item {
        background: rgba(0, 0, 0, 0.7) !important;
        .item-desc {
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
    }
  }

  .dwarf {
    display: none;
  }

  footer {
    ul {
      width: 100%;
    }
  }
}

.cursor {
  cursor: pointer;
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
