* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Navbar {
  background: #c94a4a;
}
.ContactView {
  background: #1EAEDB;
}
.ProjectView {
  background: #c94a4a;
}
footer {
  background: #ffeeaa;
}
.full-section {
  height: 100vh;
  background: #cacaca;
}
.full-section.paer {
  background-image: url("../images/paer.jpg");
  background-position: 0%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
