@navbar_size: 55px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.relative {
  position: relative;
}

.vert-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vert-aligner-item {
  max-width: 50%;
}

.vert-aligner-item--top {
  align-self: flex-start;
}

.vert-aligner-item--bottom {
  align-self: flex-end;
}

body, html, .page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#parent-wrapper {
  margin-top: @navbar_size - 2;
  overflow: hidden;
}

section {
  min-height: 100%;
  width: 100%;
}

@color1: #FCFFE3;
@color2: #C6E774;
@color3: #f39264;
@color4: #f2606f;
@color5: #383E4B;

@import "Text";
@import "Navbar";
@import "ContactView";
@import "ProjectView";
@import "ProjectSearch";
@import "WorkItem";
@import "Footer";
@import "NotesAnimation";

@import "FullSection";
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Smaller than desktop */
@media (max-width: 1100px) {
  footer {
    padding: 0;
    &.vert-aligner {
      display: table !important;
    }
  }

  .column {
    width: 100% !important;

    h1, h2 {
      span {
        color: @color1;
        border-color: @color1;
        background: @color4;
      }
    }

    span, sub {
      color: @color1;
      background: rgba(56, 62, 75, 0.85);
    }

    &.paer {
      display: none;
    }

    &.fade {
      position: relative !important;
      left: 0;
      z-index: 100;
    }
  }

  .work-item-container {
    .item-header {
      top: @itemPadding !important;
    }
    .item-image {
      background-blend-mode: normal;
      filter: sepia(0.2) !important;
    }

    .item-content {
      .item {
        background: rgba(0, 0, 0, 0.7) !important;
        .item-desc {
          opacity: 1 !important;
          visibility: visible !important;
        }
      }
    }
  }

  .dwarf {
    display: none;
  }

  footer {
    ul {
      width: 100%;
    }
  }
}

.cursor {
  cursor: pointer;
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
