.project-divider {
  min-height: 300px;

  h2 {
    text-align: center;
    color: @color5;

    span {
      border-top: 4px solid @color1;
      border-bottom: 4px solid @color1;
    }
  }
}

.project-wrapper {
  border-top: 5px solid @color1;
  border-bottom: 12px solid @color1;
  overflow: hidden !important;

  .project-desc {
    margin-top: 20px;

    div {
      text-align: justify;
      margin: 0 auto;
      width: 55%;

      p {
        margin-bottom: 16px;
      }
    }
  }

  //GAME SPECIFIC
  &.game {
    @gameColor: #8C621F;


    .item-tags li {
      border-color: @gameColor;
      background: @gameColor;
    }
  }

  &.music {
    @musicColor: #AAE66B;


    .item-tags li {
      border-color: @musicColor;
      background: @musicColor;
    }
  }

  &.web {
    @webColor: #ff64af;

    .item-tags li {
      border-color: @webColor;
      background: @webColor;
    }
  }
}

.search-view {
  position: relative;
  padding: 15px 10px;
  width: 100%;
}
