.project-divider {
  height: 250px;

  h2 {
    text-align: center;
    color: @color5;

    span {
      border-top: 4px solid @color1;
      border-bottom: 4px solid @color1;
    }
  }
}

.project-wrapper {
  overflow: hidden !important;

  //GAME SPECIFIC
  &.game {
    @gameColor: #8C621F;


    .item-tags li {
      border-color: @gameColor;
      background: @gameColor;
    }
  }

  &.music {
    @musicColor: #AAE66B;


    .item-tags li {
      border-color: @musicColor;
      background: @musicColor;
    }
  }

  &.web {
    @webColor: #52A3A7;

    .item-tags li {
      border-color: @webColor;
      background: @webColor;
    }
  }
}

.search-view {
  position: relative;
  padding: 15px 10px;
  width: 100%;
}
