.no-min-height {
    min-height: 0 !important;
}

.full-section {
    &.web {
        border-color: @webColor;
    }
    &.game {
        border-color: @gameColor;
    }
    &.music {
        border-color: @musicColor;
    }
    &.about {
        border-color: @color2;
        background: @color3;

        overflow: hidden;
        background-size: cover;
    }

    min-height: 100%;
    width: 100%;
    display: flex;

    &.half-sized {
        min-height: 200px !important;
    }

    .column {
        position: relative;
        margin: 0 auto;

        &#about {
            background: @color_white;
        }
    }
}
