.web_color {
  background: #b46edc;
}
.web_color h1,
.web_color h5 {
  color: #FCFFE3 !important;
  text-shadow: -1px 1px rgba(255, 255, 255, 0.5);
}
.game_color {
  background: #8a54a9;
}
.game_color h1,
.game_color h5 {
  color: #FCFFE3 !important;
  text-shadow: -1px 1px rgba(223, 220, 237, 0.5);
}
.music_color {
  background: #d1b5e2;
}
.music_color h1,
.music_color h5 {
  color: #FCFFE3 !important;
  text-shadow: -1px 1px rgba(255, 255, 255, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.relative {
  position: relative;
}
.vert-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vert-aligner-item {
  max-width: 50%;
}
.vert-aligner-item--top {
  align-self: flex-start;
}
.vert-aligner-item--bottom {
  align-self: flex-end;
}
body,
html,
.page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
#parent-wrapper {
  overflow: hidden;
}
section {
  min-height: 100%;
  width: 100%;
}
html,
body {
  font-family: "Courier New", serif;
}
.desc-wrapper {
  padding: 20px 0;
  width: 100%;
}
.desc-wrapper a {
  background: #B46EDC;
  padding: 1px 3px;
  color: #FCFFE3;
  text-decoration: none;
  font-weight: 800;
}
.desc-wrapper a:hover {
  background: #383E4B;
}
.desc-text {
  color: #FCFFE3;
  padding: 15px 0;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}
.desc-text h2,
.desc-text h1 {
  color: #D1B5E2;
}
.desc-text .desc-item {
  border: 1px dashed rgba(255, 250, 200, 0.8);
  background: none;
  border-left: 0;
  border-right: 0;
  margin-bottom: 12px;
  width: 100%;
  margin-top: 55px;
  padding: 20px;
}
.desc-text .desc-item span,
.desc-text .desc-item sub {
  line-height: 20pt;
  padding: 5px;
  background-color: rgba(20, 20, 20, 0.1);
}
.desc-text .desc-item:hover span,
.desc-text .desc-item:hover sub {
  background-color: rgba(10, 15, 12, 0.35);
  transition: background-color 0.5s ease-in-out;
}
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: -0.3em;
}
.center {
  text-align: center;
}
.ContactView {
  background: #1EAEDB;
}
.ProjectView {
  padding-top: 6px;
  background: #4C2E5C;
}
.project-divider {
  min-height: 300px;
}
.project-divider h2 {
  text-align: center;
  color: #383E4B;
}
.project-wrapper {
  position: relative;
  overflow: hidden !important;
  padding: 0;
}
.project-wrapper .project-desc {
  margin-top: 20px;
}
.project-wrapper .project-desc div {
  margin: 0 auto;
  width: 55%;
}
.project-wrapper .project-desc div p {
  margin-bottom: 16px;
  padding: 2px;
}
.project-wrapper .project-desc div p span {
  line-height: 20pt;
  padding: 3px;
  color: #000;
  background: rgba(255, 255, 255, 0.3);
}
.project-wrapper.game .item-tags li {
  border-color: rgba(138, 84, 169, 0.4);
  background: rgba(138, 84, 169, 0.4);
}
.project-wrapper.music .item-tags li {
  border-color: rgba(209, 181, 226, 0.4);
  background: rgba(209, 181, 226, 0.4);
}
.project-wrapper.web .item-tags li {
  border-color: rgba(180, 110, 220, 0.4);
  background: rgba(180, 110, 220, 0.4);
}
.search-view {
  position: relative;
  background: inherit;
  padding: 15px 10px;
  width: 100%;
}
.visibleOnHoverOnly {
  opacity: 0;
}
.visibleOnHoverOnly:hover {
  opacity: 1;
}
.game {
  border-color: #FFEB00;
  background: rgba(138, 84, 169, 0.4);
}
.game .project-divider {
  background-size: cover;
}
.music {
  border-color: #AAE66B;
  background: rgba(209, 181, 226, 0.4);
}
.music .project-divider {
  background-size: cover;
}
.web {
  border-color: #ff3199;
  background: rgba(180, 110, 220, 0.4);
}
.web .project-divider {
  background-size: cover;
}
.hide {
  visibility: hidden;
  opacity: 0;
}
.tagList {
  display: inline-block;
  background: #383E4B;
  color: #FCFFE3;
  padding: 2px 4px;
  margin: 1px 2px;
  border-radius: 3px;
  transition: background 0.35s;
}
.tagList:hover {
  cursor: pointer;
  background: #4C2E5C;
}
.tagList.active {
  background: #564A5C;
}
.tagList.active:hover {
  background: #D1B5E2;
}
.work-view {
  overflow: hidden;
  position: relative;
  z-index: 100;
  min-height: 130pt !important;
}
.work-view .project-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  color: #fff;
  padding: 15pt 5pt;
  text-align: center;
  background: #333;
  min-height: 45pt;
}
.work-view .project-header .header {
  margin: 0 20px;
  color: #FFEBCD;
  text-shadow: rgba(238, 232, 16, 0.8) -1px 1px 1px, rgba(237, 28, 120, 0.8) 1px 1px 1px;
}
.work-view .project-header .tags {
  width: 50%;
  text-align: left;
  color: #363636;
}
.work-view .project-header .tags li {
  display: inline-block;
  background: #383E4B;
  color: #FCFFE3;
  padding: 2px 4px;
  margin: 1px 2px;
  border-radius: 3px;
  transition: background 0.35s;
  font-size: 10pt;
}
.work-view .project-header .tags li:hover {
  cursor: pointer;
  background: #4C2E5C;
}
.work-view .project-header .tags li.active {
  background: #564A5C;
}
.work-view .project-header .tags li.active:hover {
  background: #D1B5E2;
}
.work-view .bg-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(250, 250, 250, 0)), no-repeat fixed;
  background-size: cover;
}
.work-view .bg-image:after {
  content: "";
  z-index: -1;
}
.work-view .flex-container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.work-view .flex-container.work {
  width: 100%;
}
.work-view .flex-container .work-item-container {
  position: relative;
  flex: 1 1 50%;
  min-width: 420px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  margin: auto;
  background-size: cover;
  transition: all 0.5s ease;
}
.work-view .flex-container .work-item-container.container-music {
  flex: 1 1 50%;
  height: 509px !important;
  background: #4C2E5C;
}
.work-view .flex-container .work-item-container .item-actionbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
  padding: 8px 10px;
  background: #383E4B;
  box-shadow: inset 0 0 20px #000;
}
.work-view .flex-container .work-item-container .item-actionbar button {
  padding: 10px;
  background-color: #564A5C;
  border: none;
  border-radius: 8px;
  color: #4C2E5C;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  text-shadow: #D1B5E2 -2px 2px, #4C2E5C 0 0 2px !important;
}
.work-view .flex-container .work-item-container .item-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover !important;
  transition: all 0.5s ease;
}
.work-view .flex-container .work-item-container .item-image:after {
  z-index: -1;
}
.work-view .flex-container .work-item-container .item-header {
  position: absolute;
  top: calc(43%);
  width: 100%;
  font-weight: 800;
  font-family: 'Amatic SC', cursive;
  transition: all 0.4s ease;
  color: #FCFFE3;
  font-size: 30px;
  text-shadow: rgba(2, 250, 250, 0.6) -3px 1px 1px;
}
.work-view .flex-container .work-item-container .item-header span {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.work-view .flex-container .work-item-container:hover .item-header {
  top: 10pt;
  background: transparent;
}
.work-view .flex-container .work-item-container:hover .item-image {
  background-blend-mode: normal;
  box-shadow: 0 0 40px #4C2E5C;
  background: none;
}
.work-view .flex-container .work-item-container .item-tags-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 5px;
}
.work-view .flex-container .work-item-container .item-content {
  position: relative;
  display: flex;
  padding: 10pt;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  transition: visibility 0s, opacity 0.45s ease;
}
.work-view .flex-container .work-item-container .item-content .item-desc {
  visibility: hidden;
  opacity: 0;
}
.work-view .flex-container .work-item-container .item-content:hover .item {
  background: rgba(0, 0, 0, 0.7);
}
.work-view .flex-container .work-item-container .item-content:hover .item .item-desc {
  opacity: 1;
  visibility: visible;
}
.work-view .flex-container .work-item-container .item-content .item {
  font-size: 11pt;
  background: transparent;
  border-radius: 5px;
}
.work-view .flex-container .work-item-container .item-content .item .item-desc {
  padding: 10pt;
  color: #fff;
}
.item-tags-container {
  transition-delay: 0.3s;
  z-index: 400;
}
.item-tags-container .item-desc {
  opacity: 0;
}
.item-tags-container .item-read-more {
  text-align: center;
  text-decoration: none;
}
.item-tags-container .item-tags {
  text-align: left;
  color: #363636;
}
.item-tags-container .item-tags li {
  display: inline-block;
  background: #383E4B;
  color: #FCFFE3;
  padding: 2px 4px;
  margin: 1px 2px;
  border-radius: 3px;
  transition: background 0.35s;
}
.item-tags-container .item-tags li:hover {
  cursor: pointer;
  background: #4C2E5C;
}
.item-tags-container .item-tags li.active {
  background: #564A5C;
}
.item-tags-container .item-tags li.active:hover {
  background: #D1B5E2;
}
section#game .item-content .item-tags-container {
  background: rgba(138, 84, 169, 0.85);
}
section#web .item-content .item-tags-container {
  background: rgba(180, 110, 220, 0.4);
}
footer {
  position: inherit;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #564A5C;
  padding: 0 50px;
  min-height: 200pt;
}
footer .dwarf-container {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
}
footer .dwarf-container .dwarf {
  z-index: 100;
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: all 0.3s;
}
footer .dwarf-container:hover .dwarf {
  right: -250px;
}
footer ul {
  text-align: left;
  list-style: none;
  display: inline-block;
  min-width: 150pt;
  padding: 25pt 15pt;
}
footer ul li:hover i {
  transition: color 0.3s ease;
}
footer ul li:hover i.fa-linkedin-square {
  color: #006DA6;
}
footer ul li:hover i.fa-youtube-play {
  color: #E62117;
}
footer ul li:hover i.fa-github {
  color: #333;
}
footer ul li:hover i.fa-envelope {
  color: #fff;
}
footer ul a,
footer ul li {
  text-decoration: none;
  color: #FCFFE3;
}
footer ul a:hover,
footer ul li:hover {
  text-decoration: underline;
}
footer ul a i,
footer ul li i {
  color: #8c8b88;
  margin-right: 10px;
}
footer ul a span,
footer ul li span {
  margin-left: 2pt;
}
.notes-container {
  height: 100%;
  width: 100%;
  position: static;
  z-index: 1;
  overflow: hidden;
}
.bubble-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
}
.bubble-toggle:hover {
  background: rgba(255, 255, 255, 0.75);
}
.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.bubble-container {
  position: absolute;
  bottom: 0;
  animation: bubblerise 4s infinite ease-in;
  opacity: 0;
}
.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.2);
  animation: bubblewobble .5s infinite ease;
}
@keyframes bubblerise {
  0% {
    bottom: 0;
    opacity: 0;
  }
  5% {
    bottom: 0;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}
@keyframes bubblewobble {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 2px;
  }
}
.centered-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.centered-text h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
  color: #FCFFE3;
  text-align: center;
}
.centered-wrapper {
  width: 100%;
}
.fade {
  background: radial-gradient(ellipse farthest-corner at center top, #564A5C 0%, #D1B5E2 100%);
}
.no-min-height {
  min-height: 0 !important;
}
.full-section {
  min-height: 100%;
  width: 100%;
  display: flex;
}
.full-section.web {
  border-color: rgba(180, 110, 220, 0.4);
}
.full-section.game {
  border-color: rgba(138, 84, 169, 0.4);
}
.full-section.music {
  border-color: rgba(209, 181, 226, 0.4);
}
.full-section.about {
  border-color: #564A5C;
  background: #D1B5E2;
  overflow: hidden;
  background-size: cover;
}
.full-section.half-sized {
  min-height: 200px !important;
}
.full-section .column {
  position: relative;
  display: inline-block;
  float: left;
}
.full-section .column#about {
  background: #FCFFE3;
}
.full-section .column.fade {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Smaller than desktop */
@media (max-width: 1100px) {
  footer {
    padding: 0;
  }
  footer.vert-aligner {
    display: table !important;
  }
  .column {
    width: 100% !important;
  }
  .column .desc-text {
    width: 100%;
  }
  .work-item-container .item-header {
    top: 10pt !important;
  }
  .work-item-container .item-image {
    background-blend-mode: normal;
    -webkit-filter: sepia(0.2) !important;
            filter: sepia(0.2) !important;
  }
  .work-item-container .item-content .item {
    background: rgba(0, 0, 0, 0.7) !important;
  }
  .work-item-container .item-content .item .item-desc {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .dwarf {
    display: none;
  }
  footer ul {
    width: 100%;
  }
}
.cursor {
  cursor: pointer;
}
